@model UniversityStudentsApp.Models.Teacher
@{
    ViewData["Title"] = "GetTeacherById";
}

    <h1>@Html.DisplayFor(modelItem => modelItem.FullName)</h1>

<tabele class="table">
    <thead>
        <tr>
            <th> Courses </th>
            <th> Students </th>
        </tr>
    </thead>

    <tbody>
        @if (Model.FirstTeacherCourses != null)
        {
            @foreach (var course in Model.FirstTeacherCourses)
            {
                <tr>
                    <td>
                        @if (course.Id != 0)
                        {
                            string teacher = Html.DisplayFor(modelItem => modelItem.FirstName).ToString();
                            @Html.ActionLink(teacher, "GetTeacherById", new { courseId = course.Id });
                            @course.Id

                            <a asp-controller="Enrollments" asp-action="GetStudentsByCourse" asp-route-id="@course.Id">
                                @course.Title
                            </a> <br />
                        }
                    </td>
                    <td>
                        @foreach (var student in course.Students)
                        {
                            @student.Student.FullName
                            <br />
                        }
                    </td>
                </tr>
            }
        }

        @if (Model.SecondTeacherCourses != null)
        {
            @foreach (var course in Model.SecondTeacherCourses)
            {
                <tr>
                    <td>
                        @if (course.Id != 0)
                        {
                            string teacher = Html.DisplayFor(modelItem => modelItem.FirstName).ToString();
                            @Html.ActionLink(teacher, "GetTeacherById", new { courseId = course.Id });
                            @course.Id

                            <a asp-controller="Enrollments" asp-action="GetStudentsByCourse" asp-route-id="@course.Id">
                                @course.Title
                            </a> <br />
                        }
                    </td>
                    <td>
                        @foreach (var student in course.Students)
                        {
                            @student.Student.FullName
                            <br />
                        }
                    </td>
                </tr>
            }
        }


    </tbody>
</tabele>

