@model IEnumerable<UniversityStudentsApp.Models.Student>

@{
    ViewData["Title"] = "Index";
}

<h1>Students</h1>
<br />
<form asp-controller="Students" asp-action="Index" method="get">
    <p>
        First Name <input type="text" name="searchFirstName" value="@ViewData["CurrentFilter"]" />
        Last Name: <input type="text" name="searchLastName" value="@ViewData["CurrentFilter2"]" />
        Index: <input type="text" name="index" value="@ViewData["CurrentFilter3"]" />
        <input type="submit" value="Filter" />  |
        <a asp-action="Index"> Back to Full List</a>
    </p>
</form>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StudentId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EnrollmentDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AcquiredCredits)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrentSemester)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EducationLevel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Courses)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StudentId)
            </td>
            <td>
                <a asp-controller="Enrollments" asp-action="GetCoursesByStudent" asp-route-id="@item.Id">
                @Html.DisplayFor(modelItem => item.FirstName)
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnrollmentDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AcquiredCredits)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentSemester)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EducationLevel)
            </td>
            
                @foreach(var course in Model)
                {
                    
                        <td>
                            @Html.DisplayFor(modelItem => course.Courses)
                        </td>
                    
                }
            
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
