@model IEnumerable<UniversityStudentsApp.Models.Course>

@{
    ViewData["Title"] = "Index";
}

<h1>Courses</h1>
<br />
<form asp-controller="Courses" asp-action="Index" method="get">
    <p>
        Course: <input type="text" name="searchTitle" value="@ViewData["CurrentFilter8"]" />
        Semester: <input type="text" name="searchLastName" value="@ViewData["CurrentFilter9"]" />
        Programme: <input type="text" name="searchDegree" value="@ViewData["CurrentFilter10"]" />
       
        <input type="submit" value="Filter" />  |
        <a asp-action="Index"> Back to Full List</a>
    </p>
</form>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Credits)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Semester)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Programme)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EducationLevel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstTeacher)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SecondTeacher)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Students)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                <a asp-controller="Courses" asp-action="GetCourseById" asp-route-id="@item.Id">
                    @Html.DisplayFor(modelItem => item.Title)
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Credits)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Semester)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Programme)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EducationLevel)
            </td>
            <td>
                @if (item.FirstTeacherId != null)
                {
                    <a asp-controller="Teachers" asp-action="Details" asp-route-id="@item.FirstTeacherId"> @Html.DisplayFor(modelItem => item.FirstTeacher.FullName)</a>
                }

            </td>
            <td>
                @if (item.SecondTeacherId != null)
                {
                    <a asp-controller="Teachers" asp-action="Details" asp-route-id="@item.SecondTeacherId"> @Html.DisplayFor(modelItem => item.SecondTeacher.FullName)</a>
                }
            </td>
            <tr>
                @if(item.Students != null)
                {
                    @foreach(var student in item.Students)
                    {
                        <td>
                            <a asp-controller="Students" asp-action="Details" asp-route-id="@student.StudentId">@student.Student.FullName</a> <br/>
                        </td>
                    }
                }

            </tr>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
